* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;

}

body {
    line-height: 1.6;
    font-size: 16px;

}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    background: #04044a;
    padding: 20px 0;
    color: white;
    z-index: 10;
    box-shadow: 0 2px 6px #232326;
}

header .container {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.DR-Rod {
    font-weight: 200;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #faf9f9;
    font-weight: 300;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #de0202;
}

.INTWPP1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*section finalizada*/
.sctn1 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    background-attachment: fixed;
}

.sctn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    z-index: -1;
    background-size: 100% 130%;
    background-position: center;
    background-image: url(./assents/Imagem\ .PNG);
    opacity: 1;
}



.div1 {
    font-size: 29px;
    font-weight: 200;
    margin: 10% 10% 5% 60%;
}

.div1-1 {
    background: #fffefe;
    font-size: 17px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.p1 {
    font-weight: 300;
}

.p2 {
    font-weight: 500;
}

.btn1 {
    margin-top: 130px;
    border-radius: 50px;
    height: 80px;
    width: 280px;
    background: #04044a;
    color: #faf9f9;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.crm {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    color: #f9f9fa;
}

/*section finalizada*/

.sctn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 90vh;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    z-index: 1;
    color: #f0eeee;
}

.sctn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-image: url(./assents/Clinica1233.jpg);
    opacity: 0.7;
}

.slide1,
.slide4,
.slide3 {
    width: 346px;
    min-height: 350px;
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 25px;
    list-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 22px;
    background: #f9f8f8;
    float: left;
}

.slide4:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.slide1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.slide3:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.h2 {
    font-size: 2rem;
    color: #040404;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-weight: 500;
    margin-top: -42px;
}

.slide1 h3 {
    color: #0f0f0f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #d0e1f9;
    padding-bottom: 0.5rem;
}

.slide4 h3 {
    color: #0f0f0f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #d0e1f9;
    padding-bottom: 0.5rem;
}

.slide3 h3 {
    color: #0f0f0f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #d0e1f9;
    padding-bottom: 0.5rem;
}

.lista-personalizada {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.lista-personalizada li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    color: #04044a;
}

.btn-TRA{
    margin-top: 10%;
    border-radius: 50px;
    height: 80px;
    width: 280px;
    background: #04044a;
    color: #faf9f9;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-TRA:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/*section finalizada*/
button[data-js] {
    background-color: #fbfbfc;
    color: #060606;
    border: none;
    padding: 0.4rem 1.2rem;
    margin: 0 1.8rem 0 2.4rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    font-weight: 600;

}

button[data-js]:hover {
    background-color: #f3f2f2;
}


.h4 {
    font-size: 40px;
    padding-top: 0;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
}

.paraResult {
    font-size: 19px;
}

.sctn3 {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    background: #f0eeee;
}

.result,
.carousel {
    margin-top: 50px;
    float: left;
    width: 50%;
}

.slide21 {
    display: none;
}

.result {
    width: 400px;
    text-align: left;
    margin-left: 200px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 103px;
}

.carousel {
    width: 800px;
    height: 410px;
    margin-right: 5px;
    margin-left: 90px;
    margin-top: 80px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.active {
    display: block;

}
.btn-RESUL{
    margin-top: 5%;
    border-radius: 50px;
    height: 60px;
    width: 265px;
    background: #04044a;
    color: #faf9f9;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-RESUL:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/*section finalizada*/

.sctn4 {
    width: 100%;
    height: 130vh;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    position: relative;

}

.sctn4:before {
    width: 110%;
    height: 158%;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10%;
    background-size: cover;
    background-position: center;
    background-image: url(./assents/111111.jpg);
    opacity: 0.9;

}

.pMF {
    font-weight: 600;
}

.list-MF {
    font-weight: 400;
    font-size: 10;
}

.para-MH {
    width: 35%;
    height: 90%;
    margin: 30px;
    margin-left:48%;
    background: #fffefe;
    color: #030303;
    border-radius: 50px;
    padding: 50px 50px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;

}

.mH {
    font-size: 40px;
    font-weight: 500;
    margin-left: 30%;
    color: #030303;
}

.list-MH {
    width: 705px;
    height: 345px;
    margin: 30px;
    margin-left: 498px;
    background: #fffefe;
    color: #030303;
    border-radius: 50px;
    padding: 50px 50px;
    font-size: 19px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

/*section finalizada*/

.sctn5 {
    width: 100%;
    height: 93vh;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    background: #04044a;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: #f0eeee;
    position: relative;
}

.caixa1 {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    justify-content: center;
}


.dp-img {
    float: left;
    padding: 30px;

}

.pDP {
    font-weight: 300;
    font-size: 40px;
}

.caixa1 {
    display: none;
}

.caixa1.cxActive {
    display: block;
}

.btn-dp1 {
    background: #030303;
    position: absolute;
    top: 50%;
    right: 6%;
    color: #f0eeee;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-weight: 600;
}

.btn-dp2 {
    position: absolute;
    top: 50%;
    left: 7%;
    background-color: #030303;
    color: #f0eeee;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-weight: 600;
}

.btn-dp1:hover {
    background-color: #232326;
}

.btn-dp2:hover {
    background-color: #232326;
}


/*section finalizada*/
.sctn6 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.onde {
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.mapa iframe {
    width: 590px;
    height: 450px;
    border: none;
}
.mapa {
    position: static;
    margin-right: 250px;
}

.card {
    background-color: #04044a;
    color: white;
    width: 300px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    height: 450px;
    margin-left: -20%;
}

.card-header {
    background-color: #2b2b2b;
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0eeee;
}

.card-header i {
    margin-right: 10px;
    color: #f7f7f7;
}

.card-body {
    padding: 20px;
}

.day {
    color: #fffefe;
    font-weight: bold;
}

.info-section {
    margin: 20px 0;
    border-top: 1px solid #f9f9fa;
    padding-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item2 {

    border-bottom: 1px solid #f0eeee;
}

.info-item1 {
    margin-left: 28%;
}

.info-item i {
    color: #f0eeee;
    margin-right: 10px;
}

footer {
    background-color: #04044a;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    z-index: 2;
    position: relative;
}

.footer-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-container p {
    font-size: 14px;
    font-weight: 300;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 830px) {
    header {
        display: none;
    }

    .sctn1 {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-attachment: fixed;
    }

    .sctn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    z-index: -1;
    background-size: 100% 130%;
    background-position: center;
    background-image: url(./assents/mobile3.PNG);
    opacity: 0.8;
}

.div1 {
    font-size: 29px;
    font-weight: 200;
    margin: 100% 30% 0% 30%;
}

.div1-1 {
    background: #fffefe;
    font-size: 10px;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
}

.btn1 {
    margin-top: 20px;
    border-radius: 50px;
    height:40px;
    width: 199px;
    background: #04044a;
    color: #faf9f9;
    font-size: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.crm {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #f9f9fa;
}
/*section finalizada*/
.sctn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 135vh;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    z-index: 1;
    color: #f0eeee;
    
}

.sctn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-image: url(./assents/Clinica1233.jpg);
    opacity: 0.7;
}

.slide1,
.slide4,
.slide3 {
    width: 236px;
    min-height: 110px;
    border: 1px solid #ccc;
    padding: 5px;

    margin-left: 5px;
    margin-top: 10px;
    list-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 13px;
    background: #f9f8f8;
}

.tratamento{
    flex-direction: column;
    display: flex;
    margin-top: 3%;
}

.slide4:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.slide1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.slide3:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.h2 {
    font-size: 2rem;
    color: #040404;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 5%;
}

.btn-TRA {
    margin-top: 20px;
    border-radius: 50px;
    height:48px;
    width: 199px;
    background: #04044a;
    color: #faf9f9;
    font-size: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-TRA:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/*section finalizada*/
.result {
    width: 200px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    font-size: 11px;
    font-weight: 300;
    margin-top: 10%;
}

.h4 {
    font-size: 25px;
    padding-top: 0;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 52%;
}

.paraResult {
    font-size: 12px;
    width: 180%;
    text-align: justify;
}

.carousel {
    width: 70%;
    height: 150px;
    margin-left: 15%;
    margin-top: 7%;
}

.sctn3 {
    width: 100%;
    height: 130vh;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    background: #f0eeee;
    flex-direction: column;
}

.btn-RESUL {
    margin-top: 20px;
    border-radius: 50px;
    height:48px;
    width: 100%;
    background: #04044a;
    color: #faf9f9;
    font-size: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 43%;
}

.btn-RESUL:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

button[data-js] {
    background-color: #fbfbfc;
    color: #060606;
    border: none;
    padding: 0.4rem 0.8rem;
    margin: 0 1.8rem 0 2.0rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    font-weight: 600;

}

button[data-js]:hover {
    background-color: #f3f2f2;
}
/*section finalizada*/

.sctn4 {
    width: 100%;
    height: 140vh;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

.sctn4:before {
    width: 110%;
    height: 98%;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10%;
    background-size: cover;
    background-position: center;
    background-image: url(./assents/111111.jpg);
    opacity: 0.9;
}

.pMF {
    font-weight: 600;
}

.list-MF {
    font-weight: 400;
    font-size: 10;
}

.para-MH {
    width: 55%;
    height: 60%;
    margin-top: 3%;
    margin-left: 43%;
    background: #fffefe;
    color: #030303;
    border-radius: 50px;
    padding: 5% 5%;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;

}

.mH {
    font-size: 20px;
    font-weight: 500;
    margin-left: 41%;
    color: #0a0a0a;
    margin-top: 50%;
}

.list-MH {
    width: 705px;
    height: 345px;
    margin: 30px;
    margin-left: 498px;
    background: #fffefe;
    color: #030303;
    border-radius: 50px;
    padding: 50px 50px;
    font-size: 8px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}
/*section finalizada*/
.dp-img {
    padding: 5%;
    width: 80%;
    height: 430px;
    margin-left: 9%;
}

.sctn5 {
    width: 100%;
    height: 195vh;
    text-align: center;
    align-items: center;
    background: #04044a;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: #f0eeee;
    position: relative;
}

.btn-dp2, .btn-dp1 {
    display: none;
}
.pDP {
    font-weight: 300;
    font-size: 30px;
    margin-top: 15%;
}

/*section finalizada*/
.mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.onde {
    font-weight: 500;
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -98%;
}


 .mapa {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-left: 60%;
}

.mapa iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 12px;
}

.card {
    background-color: #04044a;
    color: white;
    width: 300px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    height: 450px;
    margin-left: 0%;
    margin-top: 0;
}

.sctn6 {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 160vh;
    margin-top: 20%;
}
.card-header {
    background-color: #2b2b2b;
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f0eeee;
}
footer{
    display: block;
}
}